@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset Default CSS rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clr {
  clear: both;
}

html,
body {
  font-family: "Poppins", sans-serif;
}
/* Color 
"Black":"020202",
"Maize Crayola":"e8c547",
"Silver Metallic":"9da2ab",
"Amaranth":"da3e52" */

header {
  width: 100%;
  min-height: 100vh;
  background-color: #e8c547;
  margin: 0%;
  padding: 0%;
}

.banner-text {
  width: 50%;
  float: left;
}
.banner-img {
  width: 40%;
  float: left;
}

.banner-img img {
  width: 100%;
}

header h1 {
  font-family: "Poppins", sans-serif;
  color: #020202;
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
  padding: 5rem;
}

header a {
  color: #020202;
  text-decoration: none;
}

/* header ul {
  display: flex;
  padding: 5%;
}
header ul li {
  flex: 0.5;
  list-style: none;
  padding: 0.5rem;
}
header ul li:nth-child(3) {
  flex: 1;
}
header ul li:nth-child(4) {
  flex: 1;
}
header ul li:nth-child(5) {
  flex: 3;
} */

.container {
  display: flex;
  padding: 2rem;
}

.container ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.container ul li {
  padding-left: 2rem;
}

.nav-right {
  flex: 1;
  display: flex;
}
.nav-left {
  flex: 7;
}
.nav-right a {
  color: aliceblue;
  padding: 5px;
}

section {
  margin: 2rem 7rem 2rem 7rem;
}
.players-row {
  margin: 2rem 0 2rem 0;
}
.players {
  display: flex;
}
.individual {
  flex-basis: 330px;
  /* background-color: #da3e52; */
  box-shadow: 0 4px 8px 0 rgba(157, 162, 171, 0.2);
  padding: 1rem 1rem;
}
.individual img {
  width: 100%;
}

.highlights {
  display: flex;
}
.hg-title {
  flex: 1;
}
.hg-title h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
}
.hg-title p {
  padding: 1rem 1rem 1rem 0;
}
.hg-image {
  flex: 1;
}
.hg-image img {
  width: 100%;
}
.button {
  color: aliceblue;
  background-color: #e02c6d;
  padding: 2px 10px 2px 10px;
}

.footer {
  display: flex;
}
.box-footer1 {
  flex: 1;
}
.box-footer2 {
  flex: 2;
}
.box-footer2 img {
  width: 80%;
}
.box-footer3 {
  flex: 1;
}

.social {
  display: flex;
  align-items: center;
  padding-left: 20%;
  color: #9da2ab;
}
.copytext {
  display: flex;
  align-items: center;
  padding-left: 20%;
}
.icon {
  flex: .1;
  justify-content: center;
}

/* Utility Classes */
.space-left {
  margin-left: 2rem;
}
.space-right {
  margin-right: 2rem;
}
.space-top {
  padding-top: 2rem;
}
.space-bottom {
  padding-bottom: 3rem;
}
