@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset Default CSS rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clr {
  clear: both;
}

html,
body {
  font-family: "Poppins", sans-serif;
}
/* Color 
"Black":"020202",
"Maize Crayola":"e8c547",
"Silver Metallic":"9da2ab",
"Amaranth":"da3e52" */

header {
  width: 100%;
  min-height: 100vh;
  background-color: #e8c547;
  margin: 0%;
  padding: 0%;
}

.banner-text {
  width: 50%;
  float: left;
}
.banner-img {
  width: 40%;
  float: left;
}

.banner-img img {
  width: 100%;
}

header h1 {
  font-family: "Poppins", sans-serif;
  color: #020202;
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
  padding: 5rem;
}

header a {
  color: #020202;
  text-decoration: none;
}

/* header ul {
  display: flex;
  padding: 5%;
}
header ul li {
  flex: 0.5;
  list-style: none;
  padding: 0.5rem;
}
header ul li:nth-child(3) {
  flex: 1;
}
header ul li:nth-child(4) {
  flex: 1;
}
header ul li:nth-child(5) {
  flex: 3;
} */

.container {
  display: flex;
  padding: 2rem;
}

.container ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.nav-right {
  flex: 10%;
  display: flex;
  justify-content: flex-end;
}
.nav-left {
  flex: 70%;
}
.nav-right a {
  background-color: aliceblue;
  padding: 5px;
}

.players {
  display: flex;
}



